/**
 * All files are located in the `css` folder to clean up the root folder
 */
.mono-font {
  font-family: "Ubuntu Mono", mono;
}
* {
  font-family: "Ubuntu";
}
div {
  line-height: 1.5;
}
a {
  color: #aaffff;
  text-decoration: none;
  white-space: nowrap;
}
a:hover,
a:focus {
  color: #ccffff;
}
textarea {
  color: #223333;
  background-color: rgba(34, 51, 51, 0.26667);
  caret-color: #919999;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #223333;
  border-left-color: #223333;
  border-top-color: #223333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  width: 90%;
}
body {
  text-align: center;
  margin: auto;
  color: #aaaaaa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00ffff;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}
span.code {
  margin: 2px;
  padding: 2px;
  font-size: smaller;
}
th {
  color: #0088ff;
  background-color: rgba(0, 136, 255, 0.26667);
  caret-color: #80c4ff;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #0088ff;
  border-left-color: #0088ff;
  border-top-color: #0088ff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
  text-shadow: 0px 0px 5px;
}
th:hover,
th:focus {
  text-shadow: 0px 0px 10px;
}
tr:nth-child(even) {
  background-color: #00ffff05;
}
th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}
th:nth-last-child(1) {
  border-radius: 0px 5px 0px 0px;
}
td,
tr {
  margin: 5px;
  padding: 5px;
  border-width: 2px;
  border-bottom-color: #0000;
  border-right-color: #0ff;
  border-left-color: #0ff;
  border-top-color: #0000;
  border-style: solid;
}
table {
  width: 100%;
}
blockquote {
  margin: 0px 5px -5px 5px;
  padding: 5px;
  border-left: #0ff 2px solid;
}
al {
  display: block;
  list-style-type: lower-alpha;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
ol,
ul,
al {
  margin: 0px;
  padding-top: 0px;
}
ul {
  list-style-type: "> ";
}
ul > li::marker,
ol > li::marker,
al > li::marker {
  font-family: "Ubuntu Mono", mono;
  color: #8888;
}
#footer {
  font-size: x-small;
}
#logo,
#head {
  width: 100%;
  text-align: center;
  font-size: xxx-large;
}
#jumper {
  color: #00ffff;
  background-color: rgba(0, 255, 255, 0.26667);
  caret-color: #80ffff;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #00ffff;
  border-left-color: #00ffff;
  border-top-color: #00ffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  border-right-color: #00000000;
  border-top-right-radius: 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Ubuntu Mono", mono;
  background-color: inherit;
  box-shadow: 0px 0px 4px #0ff;
  transition: text-shadow 1s;
  margin: 0;
  z-index: 100;
}
#jumper:hover,
#jumper:focus {
  text-shadow: 0px 0px 5px;
}
.list {
  max-height: 30vh;
  overflow-y: auto;
  text-align: center !important;
}
.margin {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}
.sect,
.tab {
  width: 90vw;
}
.hide {
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #334444;
  border-left-color: #334444;
  border-top-color: #334444;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  background-color: #223333;
  font-size: smaller;
  margin: 2px;
  padding: 2px;
  color: #223333;
}
.hide:hover,
.hide:focus {
  color: #ffffff;
}
.loading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.code {
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #334444;
  border-left-color: #334444;
  border-top-color: #334444;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #222;
  margin: 5px;
  padding: 5px;
  color: #aaaaaa;
  font-family: "Ubuntu Mono", mono;
  cursor: auto;
  white-space: pre;
}
.code * {
  font-family: "Ubuntu Mono", mono;
}
.invis {
  display: none;
}
.bgcolor {
  background-color: #112222;
}
.mono {
  font-family: "Ubuntu Mono", mono;
}
.hidden-marker::marker {
  color: #0000;
}
.flip-h {
  transform: scaleX(-100%);
  display: inline-block;
}
.flip-v {
  transform: scaleY(-100%);
  display: inline-block;
}
.flip-h.flip-v {
  transform: scale(-100%, -100%);
}
.dropper-closed > div {
  display: none;
}
.h-dropper {
  font-weight: bold;
  font-family: "Ubuntu Mono", mono;
  float: right;
  cursor: n-resize;
}
.h-dropper-closed {
  font-weight: bold;
  font-family: "Ubuntu Mono", mono;
  float: right;
  cursor: s-resize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0px 0px 5px;
}
a:hover,
a:focus {
  text-shadow: 0px 0px 10px;
}
h1:hover,
h1:focus {
  text-shadow: 0px 0px 10px;
}
h2:hover,
h2:focus {
  text-shadow: 0px 0px 10px;
}
h3:hover,
h3:focus {
  text-shadow: 0px 0px 10px;
}
h4:hover,
h4:focus {
  text-shadow: 0px 0px 10px;
}
h5:hover,
h5:focus {
  text-shadow: 0px 0px 10px;
}
h6:hover,
h6:focus {
  text-shadow: 0px 0px 10px;
}
.unhide {
  color: #fff !important;
}
#logo {
  position: relative;
  top: 20px;
}
#logo:hover,
#logo:focus {
  filter: drop-shadow(0px 0px 5px #0ff);
}
#head {
  position: relative;
  top: -80px;
  transform: rotate(-14deg);
  text-shadow: 0px 0px 5px, 0px 0px 20px black;
  font-style: italic;
}
#head:hover,
#head:focus {
  text-shadow: 0px 0px 10px, 0px 0px 40px black;
}
.lnk {
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #008888;
  border-left-color: #008888;
  border-top-color: #008888;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  color: #00ffff;
  display: block;
  text-align: left;
  min-height: 3vh;
}
.lnk:hover,
.lnk:focus {
  color: #00ff00;
  background-color: rgba(0, 255, 0, 0.26667);
  caret-color: #80ff80;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #00ff00;
  border-left-color: #00ff00;
  border-top-color: #00ff00;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  text-shadow: 0px 0px 5px;
}
.sel {
  border-right-color: #008888;
  border-left-color: #008888;
  border-top-color: #008888;
  display: block;
  text-align: left;
  min-height: 3vh;
  color: #00ffff;
  background-color: rgba(0, 255, 255, 0.26667);
  caret-color: #80ffff;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #00ffff;
  border-left-color: #00ffff;
  border-top-color: #00ffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  text-shadow: 0px 0px 10px;
}
.sel:hover,
.sel:focus {
  color: #00ff00;
  background-color: rgba(0, 255, 0, 0.26667);
  caret-color: #80ff80;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #00ff00;
  border-left-color: #00ff00;
  border-top-color: #00ff00;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  text-shadow: 0px 0px 5px;
}
.sel:hover,
.sel:focus {
  color: #ff0088;
  background-color: rgba(255, 0, 136, 0.26667);
  caret-color: #ff80c4;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #ff0088;
  border-left-color: #ff0088;
  border-top-color: #ff0088;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  text-shadow: 0px 0px 15px;
}
.collapser {
  color: #cccccc88;
  background-color: rgba(204, 204, 204, 0);
  caret-color: rgba(241, 241, 241, 0.76666667);
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #cccccc88;
  border-left-color: #cccccc88;
  border-top-color: #cccccc88;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  border-color: #cccccc88;
  color: #cccccc;
  display: block;
  text-align: left;
  min-height: 3vh;
}
.collapser:hover,
.collapser:focus {
  text-shadow: 0px 0px 5px;
  color: #ffffff88;
  background-color: rgba(255, 255, 255, 0);
  caret-color: rgba(255, 255, 255, 0.76666667);
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #ffffff88;
  border-left-color: #ffffff88;
  border-top-color: #ffffff88;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  border-color: #ffffff88;
  background-color: #ffffff05;
}
.collapser::before {
  content: "[V]  ";
  font-weight: bold;
  font-family: "Ubuntu Mono", mono;
}
.collopen {
  color: #cccccc88;
  background-color: rgba(204, 204, 204, 0);
  caret-color: rgba(241, 241, 241, 0.76666667);
  border-right-color: #cccccc88;
  border-left-color: #cccccc88;
  border-top-color: #cccccc88;
  border-color: #cccccc88;
  color: #cccccc;
  display: block;
  text-align: left;
  min-height: 3vh;
  color: #ffffff88;
  background-color: rgba(255, 255, 255, 0);
  caret-color: rgba(255, 255, 255, 0.76666667);
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #ffffff88;
  border-left-color: #ffffff88;
  border-top-color: #ffffff88;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  text-shadow: 0px 0px 10px;
  border-color: #ffffff88;
  background-color: #ffffff05;
}
.collopen:hover,
.collopen:focus {
  text-shadow: 0px 0px 5px;
  color: #ffffff88;
  background-color: rgba(255, 255, 255, 0);
  caret-color: rgba(255, 255, 255, 0.76666667);
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #ffffff88;
  border-left-color: #ffffff88;
  border-top-color: #ffffff88;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  border-color: #ffffff88;
  background-color: #ffffff05;
}
.collopen::before {
  content: "[V]  ";
  font-weight: bold;
  font-family: "Ubuntu Mono", mono;
}
.collopen::before {
  content: "[\039b]  ";
  font-weight: bold;
  font-family: "Ubuntu Mono", mono;
}
.collhover {
  background-color: #00ffff11;
  color: #aaffff;
  border-color: #aaffff88;
  text-shadow: 0px 0px 10px;
}
.tab {
  text-align: center;
  padding: 5px;
  color: #aaaaaa;
  border-bottom-color: #0000;
  border-right-color: #0000;
  border-left-color: #0000;
  border-top-color: #0fff;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 2px;
  margin: none;
  text-shadow: 0px 0px 10px;
  background-color: #00ffff00;
}
.tab.tabbed {
  background-color: #00ffff44;
  color: #00ffff;
  border-bottom-color: #0000;
  border-right-color: #0fff;
  border-left-color: #0fff;
  border-top-color: #0fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.tab.tabbed:hover,
.tab.tabbed:focus {
  text-shadow: 0px 0px 15px;
  background-color: #ff008844;
  color: #ff0088;
  border-bottom-color: #0000;
  border-right-color: #f08f;
  border-left-color: #f08f;
  border-top-color: #f08f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.tab:hover,
.tab:focus {
  text-shadow: 0px 0px 10px;
  background-color: #00ff0044;
  color: #00ff00;
  border-bottom-color: #0000;
  border-right-color: #0f0f;
  border-left-color: #0f0f;
  border-top-color: #0f0f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sect {
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #00ffff;
  border-left-color: #00ffff;
  border-top-color: #00ffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: justify;
  padding: 10px;
}
.btn {
  color: #0088ff;
  background-color: rgba(0, 136, 255, 0.26667);
  caret-color: #80c4ff;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #0088ff;
  border-left-color: #0088ff;
  border-top-color: #0088ff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  margin: 2px;
  padding: 2px;
}
.btn:hover,
.btn:focus {
  color: #00ffff;
  background-color: rgba(0, 255, 255, 0.26667);
  caret-color: #80ffff;
  border: 2px solid;
  border-bottom-color: #00000000;
  border-right-color: #00ffff;
  border-left-color: #00ffff;
  border-top-color: #00ffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  padding: 5px;
  margin: 2px;
  padding: 2px;
}
.dict {
  display: inline-block;
  width: 0px;
  border: 2px solid #444444;
  border-radius: 2px;
  height: 0px !important;
  position: relative;
  top: 10px;
}
.line {
  height: 5px;
  border: 2px solid #00ffff;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 5px #00ffff, inset 0px 0px 5px #00ffff;
}
.line:hover,
.line:focus {
  box-shadow: 0px 0px 10px #00ffff, inset 0px 0px 10px #00ffff;
}
.tr-l {
  border-right-color: #0000;
}
.tr-r {
  border-left-color: #0000;
}
@media only screen and (min-width: 240px) {
  .sect,
  .tab {
    width: 95vw;
  }
}
@media only screen and (min-width: 480px) {
  .sect,
  .tab {
    width: 90vw;
  }
}
@media only screen and (min-width: 640px) {
  .sect,
  .tab {
    width: 80vw;
  }
}
@media only screen and (min-width: 720px) {
  .sect,
  .tab {
    width: 70vw;
  }
}
@media only screen and (min-width: 1000px) {
  .sect,
  .tab {
    width: 60vw;
  }
}
@media only screen and (min-width: 1080px) {
  .sect,
  .tab {
    width: 50vw;
  }
}
@media only screen and (min-width: 1280px) {
  .sect,
  .tab {
    width: 45vw;
  }
}
@media only screen and (min-width: 1366px) {
  .sect,
  .tab {
    width: 40vw;
  }
}
@media only screen and (min-width: 1600px) {
  .sect,
  .tab {
    width: 35vw;
  }
}
@media only screen and (min-width: 1920px) {
  .sect,
  .tab {
    width: 30vw;
  }
}
/*Mouse types*/
*:focus,
*:hover {
  outline: none;
}
.focusing {
  outline: currentcolor thin dotted;
}
nah {
  cursor: auto;
}
#head {
  cursor: default;
}
div {
  cursor: default;
}
span {
  cursor: default;
}
img {
  cursor: default;
}
nah {
  cursor: none;
}
nah {
  cursor: context-menu;
}
.def {
  cursor: help;
}
a {
  cursor: pointer;
}
h1 {
  cursor: pointer;
}
h2 {
  cursor: pointer;
}
h3 {
  cursor: pointer;
}
h4 {
  cursor: pointer;
}
h5 {
  cursor: pointer;
}
h6 {
  cursor: pointer;
}
.hide {
  cursor: pointer;
}
button {
  cursor: pointer;
}
.collapser {
  cursor: pointer;
}
.lnk {
  cursor: pointer;
}
#jumper {
  cursor: pointer;
}
nah {
  cursor: progress;
}
nah {
  cursor: wait;
}
nah {
  cursor: cell;
}
nah {
  cursor: crosshair;
}
nah {
  cursor: text;
}
nah {
  cursor: vertical-text;
}
nah {
  cursor: alias;
}
nah {
  cursor: copy;
}
nah {
  cursor: no-drop;
}
nah {
  cursor: not-allowed;
}
nah {
  cursor: grab;
}
nah {
  cursor: grabbing;
}
nah {
  cursor: all-scroll;
}
nah {
  cursor: col-resize;
}
nah {
  cursor: row-resize;
}
nah {
  cursor: n-resize;
}
nah {
  cursor: s-resize;
}
nah {
  cursor: e-resize;
}
nah {
  cursor: w-resize;
}
nah {
  cursor: ne-resize;
}
nah {
  cursor: sw-resize;
}
nah {
  cursor: se-resize;
}
nah {
  cursor: nw-resize;
}
nah {
  cursor: ew-resize;
}
nah {
  cursor: ns-resize;
}
nah {
  cursor: nesw-resize;
}
nah {
  cursor: nwse-resize;
}
nah {
  cursor: zoom-in;
}
nah {
  cursor: zoom-out;
}
